#filter {
    /* background-color: blue; */
    margin: 2em;
}

.dropdown > #activeCuisine, #activeIngredient {
    min-width: 75%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.dropdown-icon {
    height: 1em;
}

#result {
    /* background-color: cyan; */
    flex: 1;
    width: 100%;
    overflow-y: auto;
}

#main-container {
    /* background-color: lightcyan; */
    position: fixed;
    top: 0; right: -700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    transition: right 1s;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}

.result-img {
    width: 100%;
}

.result-name, .result-value {
    text-align: center;
    text-transform: capitalize;
}

.container-btn {
    border-radius: 1em 0em 0em 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    position: absolute;
    bottom: 3em; left: -3em;
    background-color: red;
    width: 3em; height: 8em;
}