#filter {
    /* background-color: blue; */
    margin: 2em;
}

.dropdown > #activeCuisine, #activeIngredient {
    min-width: 75%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.dropdown-icon {
    height: 1em;
}

#result {
    /* background-color: cyan; */
    flex: 1;
    width: 100%;
    overflow-y: auto;
    margin: 0em 1em;
    font-family:'Alegreya Sans SC';
    font-size: 1.5em;
}

#main-container {
    background-color: lightgrey;
    position: fixed;
    top: 0; right: -700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    transition: right 1s;
    z-index: 100;
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    } 
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    } 
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    } 
}

.container-small, .container-large {
    max-width: 100%;
}

.result-img {
    width: 75%;
    margin: 12.5%;
}

.result-name, .result-value {
    text-align: center;
    text-transform: capitalize;
}

.container-btn {
    border-radius: 1em 0em 0em 1em;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    position: absolute;
    bottom: 3em; left: -3em;
    background-color: white;
    width: 4em; height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: left 0.25s;
    padding-right: 1em;
    /* box-shadow: 2px 2px 0px 8px red; */
}

.container-btn > span {
    font-size: 2em;
}

.glass-tint {
    background-color: black;
    position: fixed; top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s;
}